<h1>English:</h1>
<%= simple_format I18n.t 'translation', locale: :en, value: "110"  %>
<%= simple_format I18n.t 'translation', locale: :en, value: "1.10" %>
<%= simple_format I18n.t 'translation', locale: :en, value: "1,10" %>
<%= simple_format I18n.t 'translation', locale: :en, value: "1-10" %>
<%= simple_format I18n.t 'translation', locale: :en, value: "1<10" %>

<h1>Hebrew:</h1>
<%= simple_format I18n.t 'translation', locale: :he, value: "110"  %>
<%= simple_format I18n.t 'translation', locale: :he, value: "1.10" %>
<%= simple_format I18n.t 'translation', locale: :he, value: "1,10" %>
<%= simple_format I18n.t 'translation', locale: :he, value: "1-10" %>
<%= simple_format I18n.t 'translation', locale: :he, value: "1<10" %>

<h1>Arabic:</h1>
<%= simple_format I18n.t 'translation', locale: :ar, value: "110"  %>
<%= simple_format I18n.t 'translation', locale: :ar, value: "1.10" %>
<%= simple_format I18n.t 'translation', locale: :ar, value: "1,10" %>
<%= simple_format I18n.t 'translation', locale: :ar, value: "1-10" %>
<%= simple_format I18n.t 'translation', locale: :ar, value: "1<10" %>
